<footer>
    <mat-toolbar class="footer_toolbar" color="accent">
      <div class="footer_names">
        <a class="footer_names-link" href="https://github.com/uladziby" color="accent">
          <div class="footer_names-icon">UY</div>
          <span>Uladziby</span>
        </a>
      </div>
      <div class="footer_logo">
        <a href="https://rs.school/js/">
  
          <img src="../../../../assets/rs-school.svg" alt="rs-school" width="100">
        </a>
      </div>
    </mat-toolbar>
  </footer>