:host {
  width: 100%;
  margin: auto 5%;
}

.card_continent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
  cursor: pointer;
  border: solid 1px white;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &_content {
    min-height: 3rem;
    padding: 5%;
   
  }
  &-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    color: #ff4081;
    font-size: 1.5rem;
  }
}

.card_continent:hover {
  transform: scale(1.1);
}
.block-card_continent {
  display: flex;
  gap: 1rem;
}
.regions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
