 /*  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  } */
  .content {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 3vh;
    min-height: calc(97vh - 128px);
    // @media (max-width: 1000px) {
    //   margin-top: calc((1000px - 100%) * 0.07 + 6vh);
    //   margin-bottom: calc((1000px - 100%) * 0.07 + 3vh);
    // }
  }