:host {
  width: 100%;
  margin: auto 5%;
}
.card_continent {
  cursor: pointer;
  border: solid 1px white;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain auto;
  &_content {
    min-height: 3rem;
    padding: 5%;
  }
}

.card_continent:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  align-items: center;
}
.container_cards {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
